body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #fafafa;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.footer {
  position: fixed; /* 화면에 고정 */
  bottom: 10px; /* 하단 여백 */
  left: 50%; /* 가운데 정렬을 위해 왼쪽에서 50% 위치 */
  transform: translateX(-50%); /* 가운데 정렬 */
  color: black; /* 글자색 */
  font-size: 18px; /* 글자 크기 */
  font-weight: 700;
}


h1 {
  font-family: Arial, sans-serif;
  margin: 0;
}

canvas {
  border: 1px solid #000;
  display: block;
  margin: 20px auto;
}

#startButton {
  display: flex;
  align-items: center;
  font-size: 0.875rem; /* text-sm */
  color: white;
  background: linear-gradient(to right, #ec4899, #f43f5e, #e11d48); /* from-pink-400 via-pink-500 to-pink-600 */
  transition: background 0.3s ease;
  border: none;
  border-radius: 0.75rem; /* rounded-lg */
  padding: 0.625rem 1.25rem; /* px-5 py-2.5 */
  text-align: center;
  font-weight: 500; /* font-medium */
  box-shadow: 0 10px 15px -3px rgba(244, 63, 94, 0.5), 0 4px 6px -4px rgba(190, 24, 93, 0.4); /* shadow-lg shadow-pink-500/50 */
}

#startButton:hover {
  background: linear-gradient(to bottom right, #ec4899, #db2777); /* hover:bg-gradient-to-br */
}

#startButton:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(244, 114, 182, 0.5); /* focus:ring-4 focus:ring-pink-300 */
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controlButtons {
  position: relative;
  width: 200px;
  height: 200px;
}

.control-btn {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.control-btn img {
  width: 50px;
  height: 50px;
}

.control-btn.up {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.control-btn.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.control-btn.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.control-btn.down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
